------------------------------------------------------------;
Configuration file Uniface Debugger;
------------------------------------------------------------;
;
------------------------------------------------------------;
The Uniface Debugger will modify this file automatically;
Modifications done to this file by an external editor are at your own risk;
Such modifications may be lost or overwritten after using the Uniface Debugger;
;
Whenever the Uniface Debugger closes, it will write information into this file;
The previous version of this file will be overwritten;
If more than one Uniface Debugger has access to this file, only the information of the last closed Uniface Debugger will be stored;
------------------------------------------------------------;
;
------------------------------------------------------------;
ModificationTimeStamp            = 10-may-17 16:08:32;
------------------------------------------------------------;
;
[PREFERENCES];
UseDefaultState                  = NO;
UseLastState                     = YES;
SaveStateOnClose                 = YES;
AutoOpenBrowser                  = NO;
AutoOpenQuickWatch               = NO;
AutoOpenSettings                 = NO;
AutoOpenErrorContext             = NO;
AutoOpenMessageFrame             = NO;
AutoOpenCallStack                = NO;
AutoOpenPreferences              = NO;
AutoRetrieveOpenStructure        = YES;
ParVarInMainProc                 = NO;
ParVarInBrowseProc               = YES;
;
------------------------------------------------------------;
;
[STATE_UDBGDEFAULT];
Description                      = Default State;
IoPrint                          = 0;
TracePrint                       = 0;
ProcTracing                      = NO;
Errors                           = ;
Watches                          = $status,$procerror,$result;
Putmess                          = NO;
Clrmess                          = NO;
;
------------------------------------------------------------;
;
[STATE_UDBGLAST];
Description                      = Current / last State;
IoPrint                          = 0;
TracePrint                       = 0;
ProcTracing                      = NO;
Errors                           = ;
Watches                          = $status,$procerror,$result;
Putmess                          = NO;
Clrmess                          = NO;
;
------------------------------------------------------------;
